<div class="footer">
    <div class="container">
<div class="row">
<!-- About Us-->
<div class="col-md-4 ">
<div class="about">
<div class="footer-about">
<img src="../../assets/images/logo.png"   width="170" height="45">
       <p>
        Eismod metus sit amet, tristique justo. Vestibulum mattis, Etiam consequat sem ullamcorper, euismod metus sit amet, tristique justo. Vestibulum mattis, nisi ut faucibus commodo, risus ex commodo.
       </p>              
     </div>


</div>
</div>
<!-- Contact Info-->
<div class="col-md-4 ">        
 <div class="">
   <h3 class="footer-title footer-widget-area">Contact info</h3>
 
 <ul class="contact-list">
   <li><i class="ti-location-pin"></i><span class="txt"><strong> Our location: </strong><br> 150 teuk laak 2 near Khan Tuol Kouk, Phnom Penh</span></li>
   <li><i class="ti-mobile"></i><span class="txt"><strong> Phones: </strong><br> +855-086-8634-836</span></li>
   <li><i class="ti-email"></i><span class="txt"><strong> Email: </strong><br> mytheme@example.com</span></li>
 </ul>
</div>
</div>
<!-- Follow Us-->
<div class="col-md-4">
<div class="footer-widget-area">
<h3 class="footer-title ">Follow Us</h3>
     
<div class="social-about"><ul><li><a href="#" target="_self"><span class="fab fa-twitter"></span></a></li><li><a href="#" target="_self"><span class="fab fa-facebook-f"></span></a></li><li><a href="#" target="_self"><span class="fab fa-instagram"></span></a></li><li><a href="#" target="_self"><span class="fab fa-google-plus-g"></span></a></li></ul></div>

   </div>
</div>

</div>
</div>
</div>
<div class="footer-copyright p-30">
    <div class="container">
  <div class="row">
    <div class="col-md-4  ">
      <p class="copyright">Copyright 2019 © jellyster.com HTML Template</p>
    </div>
    <div class="col-md-8 social-about footermenu">
      <ul class=" ">
      <li><a href="index.html">Home</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="privacy-policy.html">Privacy Policy</a></li>
      </ul>
    </div>
      </div>
    </div>
    </div>